* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.getBlogs{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  height: 100%;
  width: 100%;
}

.blogs{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
}