* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.NewBlog{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  height: 100%;
}

.batman{
  position: relative;
  left: -75vw;
  opacity: 0;
  width: 50vw;
  height: 50vh;
  transform: scale(5);
}

/* .gridContents{
  opacity: 0;
  animation: appear 0.5s ease-in alternate ;
} */
/* 
@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.gridContents:nth-child(1){
  animation-delay: 0.5s;
}
.gridContents:nth-child(2){
  animation-delay: 0.4s;
}
.gridContents:nth-child(3){
  animation-delay: 0.6s;
}
.gridContents:nth-child(4){
  animation-delay: 0.8s;
}
.gridContents:nth-child(5){
  animation-delay: 1s;
} */
