* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.svg{
  /* border: 1px solid red; */
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.svg svg{
  position: relative;
  left: -20vw;
  width: 50vw;
  height: 50vh;
  transform: scale(5);
}

