* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.svg{

  width: 100vw;
  height: 90vh;
  position: relative;
  left: -10vw;
  overflow: hidden;
  /* unhide this after searching for a better svg background  */
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: -1;
}

.NewBlog{
  display: grid;
  place-items: center;
  height: 100vh;
}

.batman{
  position: relative;
  left: -75vw;
  opacity: 0;
  width: 50vw;
  height: 50vh;
  transform: scale(5);
}